<div id="os-bar">
    <div>
      <p>MS-CESTOLIV</p>
    </div>
</div>
<div id="os-menu">
  <a href="https://github.com/cestoliv" target="_blank">GitHub</a>
  <a href="https://www.youtube.com/channel/UCIVzban_FWu6idGf2rwSzlg" target="_blank">YouTube</a>
</div>