#os-console {
    flex: 100;
    background: #1a1a1a;
    color: #fff;
    padding: 8px;
    display: flex;
    flex-direction: column;
}

#os-console-in {
    display: inline-block;
    width: 100%;
    flex: 100;
    resize: none;
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
    height: 100%;
    word-break: break-all;
    font-family: "fixedsys";
    color: #5456fb;
    font-size: 1.2rem;
    outline: none;
}

#os-console-out {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#os-console-out li { 
    margin: 5px 0px;
}

#os-console-out p {
    margin: 0;
    font-size: 1.2rem;
    word-break: break-word;
    white-space: break-spaces;
}

.out_query {
    color: #999999;
    margin-bottom: 0;
    color: #f7f958;
}

.out_answer {
    margin-top: 0;
    word-wrap: break-word;
}

.out_answer a {
    color: #999;
}

.out_answer .colored {
    color: #999;
    font-style: normal;
}


/*///////////////////////////////////////TEXT FORMATING*/
i {
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
}

.blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.bold {
    font-weight: bold;
}

.dim {
    font-weight: lighter;
}

.italic {
    font-style: italic;
}

.underlined {
    text-decoration: underline;
}

.strikethrough {
    text-decoration: line-through;
}

/*///////////////////////////FOREGROUND*/

.whiteFg {
    color: #ffff;
}

.lightCyanFg {
    color: #91ffff;
}

.lightMagentaFg {
    color: #ff7dff;
}

.lightBlueFg {
    color: #6eadff;
}

.lightYellowFg {
    color: #ffff66;
}

.lightGreenFg {
    color: #78ff78;
}

.lightRedFg {
    color: #ff4f4f;
}

.darkGrayFg {
    color: #808080;
}

.lightGrayFg {
    color: #f1f1f1;
}

.cyanFg {
    color: #00ffff;
}

.magentaFg {
    color: #ff00ff;
}

.blueFg {
    color: #0000ff;
}

.yellowFg {
    color: #ffff00;
}

.greenFg {
    color: #00ff00;
}

.redFg {
    color: #ff0000;
}

.blackFg {
    color: #000000;
}

/*///////////////////////////////BACKGROUND*/

.whiteBg {
    background: #ffff;
}

.lightCyanBg {
    background: #91ffff;
}

.lightMagentaBg {
    background: #ff7dff;
}

.lightBlueBg {
    background: #6eadff;
}

.lightYellowBg {
    background: #ffff66;
}

.lightGreenBg {
    background: #78ff78;
}

.lightRedBg {
    background: #ff4f4f;
}

.darkGrayBg {
    background: #808080;
}

.lightGrayBg {
    background: #f1f1f1;
}

.cyanBg {
    background: #00ffff;
}

.magentaBg {
    background: #ff00ff;
}

.blueBg {
    background: #0000ff;
}

.yellowBg {
    background: #ffff00;
}

.greenBg {
    background: #00ff00;
}

.redBg {
    background: #ff0000;
}

.blackBg {
    background: #000000;
}