/* https://css.gg */
.sun {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(1);
    width: 24px;
    height: 24px;
    background:
      linear-gradient(to bottom,
          currentColor 4px,transparent 0)
          no-repeat 5px -6px/2px 6px,
      linear-gradient(to bottom,
          currentColor 4px,transparent 0)
          no-repeat 5px 14px/2px 6px,
      linear-gradient(to bottom,
          currentColor 4px,transparent 0)
          no-repeat -8px 5px/6px 2px,
      linear-gradient(to bottom,
          currentColor 4px,transparent 0)
          no-repeat 14px 5px/6px 2px;
    border-radius: 100px;
    box-shadow: inset 0 0 0 2px;
    border: 6px solid transparent
}
.sun::after,
.sun::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 24px;
    height: 2px;
    border-right: 4px solid;
    border-left: 4px solid;
    left: -6px;
    top: 5px
}
.sun::before {
    transform: rotate(-45deg)
}
.sun::after {
    transform: rotate(45deg)
}